<footer class="foot">
  <div class="container">
    <div class="menu-and-contacts">
      <div class="logo-and-text">
        <a href="index.html" class="logo-index">
          <svg class="icon-square" width="16" height="16" fill="#FDFDFD">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
          <svg class="footer-logo-text" width="148" height="12">
            <use href="./img/icons.svg#icon-logo-name-mobile"></use>
          </svg>
        </a>
        <p class="paragraph-logo-foot">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>

      <div class="menu-navigation">
        <nav class="navigation-footer">
          <ul class="list-navigation">
            <li class="li-navigation">
              <a href="#how-it-works">how it works</a>
            </li>
            <li class="li-navigation"><a href="#vegetables">vegetables</a></li>
            <li class="li-navigation"><a href="#reviews">review</a></li>
          </ul>
        </nav>
        <address class="address-footer">
          <ul class="ul-address">
            <li>
              <a href="tel:+380684439426" class="number">+380 (68) 443-94-26</a>
            </li>
            <li>
              <p class="address">
                <a
                  target="_blank"
                  href="https://maps.app.goo.gl/qV86e618sZnLre1p8"
                  >1678 S. Pioneer Road Salt Lake City UT 84104
                </a>
              </p>
            </li>
          </ul>
        </address>
      </div>
    </div>
    <div class="harvest-policy">
      <ul class="policy">
        <li class="li-privacy">
          <a href="index.html">Privacy Policy</a>
        </li>
        <li class="li-privacy">
          <a href="index.html">/ Cookie settings</a>
        </li>
      </ul>
      <p class="li-privacy">©Green Harvest 2023</p>
    </div>
  </div>
</footer>
