<header class="header">
  <div class="container head">
    <nav class="header-nav">
      <a href="./index.html" class="header-logo">
        <svg class="header-logo-icon" width="16" height="16">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        <svg class="header-logo-text" width="148" height="12">
          <use href="./img/icons.svg#icon-logo-name-mobile"></use>
        </svg>
      </a>
      <div class="nav-wrapper">
        <ul class="nav-list">
          <li>
            <a href="#how-it-works" class="nav-link">How It Works</a>
          </li>
          <li>
            <a href="#vegetables" class="nav-link">Vegetables</a>
          </li>
          <li>
            <a href="#reviews" class="nav-link">Reviews</a>
          </li>
        </ul>
        <a href="#your-order" class="header-order-link">Shop now</a>
      </div>
      <button type="button" class="header-menu-btn" data-menu-open>
        <svg class="header-menu-icon" width="32" height="32">
          <use href="./img/icons.svg#icon-menu-open"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
