<section class="how-it-works section" id="how-it-works">
  <div class="container how-it-work">
    <div class="workit-img-cont">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/how-it-works/how-it-works-desktop.jpg    1x,
            ./img/how-it-works/how-it-works-desktop@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/how-it-works/how-it-works-tablet.jpg    1x,
            ./img/how-it-works/how-it-works-tablet@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 375px)"
          srcset="
            ./img/how-it-works/how-it-works-mobile.jpg    1x,
            ./img/how-it-works/how-it-works-mobile@2x.jpg 2x
          "
        />
        <img
          class="work-it-img"
          src="./img/how-it-works/how-it-works-mobile.jpg"
          alt="how it works"
        />
      </picture>
    </div>

    <div class="how-it-steps-bg">
      <div class="how-it-work-steps-box">
        <h2 class="visually-hidden">How it works</h2>
        <p class="how-it-title">
          To order your
          <span class="work-it-title-span">vegetable</span> basket, simply
          follow these <span class="work-it-title-span">easy steps</span>
        </p>
        <p class="work-it-paragraph">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </div>

      <ol class="how-it-list">
        <li class="how-it-list-cont how-it-item-list-size">
          <p class="how-it-list-paragraph">
            Just choose
            <span class="how-it-item-span">the vegetable</span> you want to
            order by clicking on the checkboxes
            <span class="how-it-item-span">next to it</span>.
          </p>
        </li>
        <li class="how-it-list-cont how-it-item-list-size">
          <p class="how-it-list-paragraph">
            Click on <span class="how-it-item-span">the basket</span> and fill
            out the form.
          </p>
        </li>
        <li class="how-it-list-cont how-it-item-list-size">
          <p class="how-it-list-paragraph">
            Sit back and relax! Your
            <span class="how-it-item-span">fresh vegetables</span> basket will
            be delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
