<div class="modal-overlay" data-menu>
  <div class="menu">
    <div class="container modal-menu">
      <button class="close-btn" type="submit" data-menu-close>
        <svg class="menu-close" width="32" height="32">
          <use href="./img/icons.svg#icon-menu-close"></use>
        </svg>
      </button>
      <nav class="menu-nav">
        <ul class="menu-list">
          <li class="list-item item-one">
            <a class="menu-list-item list-item-one" href="#how-it-works"
              >How It Works</a
            >
          </li>
          <li class="list-item">
            <a class="menu-list-item" href="#vegetables">Vegetables</a>
          </li>
          <li class="list-item">
            <a class="menu-list-item" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>
      <div class="menu-btn">
        <a class="shop-btn" href="#your-order">shop now</a>
      </div>
    </div>
  </div>
</div>
