<section class="vegetables-section section" id="vegetables">
  <div class="container">
    <div class="vegetables-title-box">
      <h2 class="vegetables-title">
        ORGANIC <span class="vegetables-title-part">VEGETABLES</span>
      </h2>
      <p class="vegetables-text">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <ul class="vegetables-menu">
      <li class="vegetables-list">
        <h3 class="vegetables-subtitle">EGGPLANT</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/vegetables/eggplant-desktop.webp    1x,
              ./img/vegetables/eggplant-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/vegetables/eggplant-tablet.webp    1x,
              ./img/vegetables/eggplant-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ./img/vegetables/eggplant-mobile.webp    1x,
              ./img/vegetables/eggplant-mobile@2x.webp 2x
            "
          />
          <img
            src="./img/vegetables/eggplant-mobile.webp"
            alt="Eggplant"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-list">
        <h3 class="vegetables-subtitle">LEEK</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/vegetables/leek-desktop.webp    1x,
              ./img/vegetables/leek-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/vegetables/leek-tablet.webp    1x,
              ./img/vegetables/leek-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ./img/vegetables/leek-mobile.webp    1x,
              ./img/vegetables/leek-mobile@2x.webp 2x
            "
          />
          <img
            src="./img/vegetables/leek-mobile.webp"
            alt="Leek"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-list">
        <h3 class="vegetables-subtitle">MUSHROOMS</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/vegetables/mushrooms-desktop.webp    1x,
              ./img/vegetables/mushrooms-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/vegetables/mushrooms-tablet.webp    1x,
              ./img/vegetables/mushrooms-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ./img/vegetables/mushrooms-mobile.webp    1x,
              ./img/vegetables/mushrooms-mobile@2x.webp 2x
            "
          />
          <img
            src="./img/vegetables/mushrooms-mobile.webp"
            alt="Mushrooms"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-list">
        <h3 class="vegetables-subtitle">CORN</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/vegetables/corn-desktop.webp    1x,
              ./img/vegetables/corn-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/vegetables/corn-tablet.webp    1x,
              ./img/vegetables/corn-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ./img/vegetables/corn-mobile.webp    1x,
              ./img/vegetables/corn-mobile@2x.webp 2x
            "
          />
          <img
            src="./img/vegetables/corn-mobile.webp"
            alt="Mushrooms"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-list">
        <h3 class="vegetables-subtitle">SWEET POTATOES</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/vegetables/sweet-potatoes-desktop.webp    1x,
              ./img/vegetables/sweet-potatoes-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/vegetables/sweet-potatoes-tablet.webp    1x,
              ./img/vegetables/sweet-potatoes-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ./img/vegetables/sweet-potatoes-mobile.webp    1x,
              ./img/vegetables/sweet-potatoes-mobile@2x.webp 2x
            "
          />
          <img
            src="./img/vegetables/sweet-potatoes-mobile.webp"
            alt="Sweet Potatoes"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-list">
        <h3 class="vegetables-subtitle">CARROT</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/vegetables/carrot-desktop.webp    1x,
              ./img/vegetables/carrot-desktop@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/vegetables/carrot-tablet.webp  1x,
              ./img/vegetables/corn-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 375px)"
            srcset="
              ./img/vegetables/carrot-mobile.webp    1x,
              ./img/vegetables/carrot-mobile@2x.webp 2x
            "
          />
          <img
            src="./img/vegetables/carrot-mobile.webp"
            alt="Carrot"
            width="280"
            height="240"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
