html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter Tight', sans-serif;
  font-style: normal;
  color: #fbfbfb;
  margin: 0;
  background: #7a3145;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 80px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}

@media screen and (max-width: 374px) {
  h2 {
    font-size: 36px;
  }
}